body {
    margin: 0;
    font-family: 'Roboto', sans-serif; /* 他のフォントがデフォルトで使われている場合 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(MLM.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

h1, p {
    font-family: 'Hachi Maru Pop', sans-serif; /* Hachi Maru Popフォントを適用 */
}

.container {
    max-width: 700px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(255, 0, 234, 0.5);
    position: relative;
}

h1 {
    margin: 10px 0;
    font-size: 2.5em;
    position: relative;
    z-index: 1;
}

p {
    margin: 5px 0;
    font-size: 1.5em;
    position: relative;
    z-index: 1;
}


.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 5px solid white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.social-links {
    margin-top: 30px;
}

.social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 55px;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    display: inline-block;
}

.social-links a:hover {
    transform: rotate(360deg) scale(1.1);
    box-shadow: none;
    color: #ff96c2;
}
